<div class="oj-hybrid-padding">
	<h1>Generic annealer</h1>
	<div data-bind="html : status, style : { color : 'blue' }"></div>
	<div data-bind="html : error, style : { color : 'red' }"></div>
	
	<div style="border:1px solid black;">
		Available problems: 
		<select data-bind="options : problemNames, 
			value : selectedProblemName, valueAllowUnset : true"></select>
		&nbsp;
		<button data-bind="click : loadProblem">Load</button>
		<button data-bind="click : newProblem">New</button>
	</div>
	
	<script type="text/html" id="summation-template">
		Summation(
			<!-- ko if : !next() -->
				<a data-bind="click : function() { $parent.addSummation() }">+</a>
			<!-- /ko -->
			<!-- ko with : from -->
	    		FROM: <input data-bind="value : left" type="text" size="2">=<input data-bind="value : right" type="text" size="2">
			<!-- /ko -->
			<!-- ko with : to -->
	    		TO: <input data-bind="value : expr" type="text" size="2">
			<!-- /ko -->

			<!-- ko if : !next() -->
				<!-- ko with : body -->
					OF <input data-bind="value : left" type="text" size="10"> = <input data-bind="value : right" type="text" size="2">
				<!-- /ko -->
			<!-- /ko -->

			<!-- ko if : next() -->
				<!-- ko with : next -->
					OF <div data-bind="template: { name: 'summation-template' }"></div>
				<!-- /ko -->
			<!-- /ko -->
		), 
		<!-- ko with : forAll -->
			&#8704;<input data-bind="value : variable" type="text" size="2">&#8712;[<input type="text" size="1" data-bind="value : start">,<input type="text" size="1" data-bind="value : end">)
		<!-- /ko -->		
	</script>
	
	
	<!-- ko with : gh -->
		<div>
			<b><u>Problem name:</u></b>&nbsp;<input type="text" data-bind="value : problemName">
		</div>
		<div>
			<b>Parameters:</b>&nbsp;
			<input type="text" data-bind="value : parameters" placeholder="comma-separated names: n,m,K">
		</div>
		<div>
			<b>Variables:</b>&nbsp;
			<input type="text" data-bind="value : $parent.variableNames" placeholder="comma-separated names: c,v,w">
			<a data-bind="click : function() { $parent.setCardinals() }">Set cardinals</a>
			<!-- ko foreach : variables -->
				<div>
					<u data-bind="html : name"></u>: <input type="text" data-bind="value : cardinals" placeholder="comma-separated parameter names: n,m,K">
				</div>
			<!-- /ko -->
		</div>
		<div>
			<b>X cardinals:</b>
			<input type="text" placeholder="comma-separated parameter names: n,m,K" data-bind="value : xCardinals">
		</div>
		<button data-bind="click : function() { $parent.saveProblem() }">Save problem</button>
	<!-- /ko -->

	<table style="border:1px solid black;">
		<tr>
			<td colspan="3" style="border-bottom:1px solid black;">
				<b>New rule</b>
			</td>
		</tr>
		<tr>
			<td style="border-right:1px solid black;" width="30%" valign="top">
				<!-- ko with : newRule -->
					<!-- ko with : summation -->
						<div data-bind="template: { name: 'summation-template' }"></div>
					<!-- /ko -->
					<a data-bind="click : function() { $parent.checkNewRule() }">Add rule</a>
				<!-- /ko -->
			</td>
			<td width="30%" valign="top">
				<b><i>Example</i></b>
				<i><small><a data-bind="click : function() { showInstructions(true) }, visible : !visibleInstructions()">Show instructions</a></small></i>
				<br>
				to: <input type="text" size="2" value = "N" disabled="disabled">
				<br>
				&#x2211;<input type="text" size="10" value="v_i_j·x_i_j" disabled="disabled"> = <input type="text" size="2" value="K" disabled="disabled">
				&nbsp;&#8704;<input type="text" value="j" disabled="disabled" size="2">&#8712;[<input type="text" value="0" size="1" disabled="disabled">,<input type="text" value="m" size="1" disabled="disabled">)
				<br>
				from: <input type="text" size="2" value="i" disabled="disabled">=<input type="text" size="2" value="0" disabled="disabled">
			</td>
			<td data-bind="visible : visibleInstructions" valign="top">
				<small>
					<i><a data-bind="click : function() { showInstructions(false) }">Instructions</a></i><br>
					<ol>
						<li>The left-side of the Summation's <i>from</i> clause must be a variable</li>
						<li>The right-side of the Summation's <i>from</i> clause must be a number</li>
						<li>The left-side of the Summation's body must be either a product (use · as multiplication symbol) or the use of <i>x</i> (i.e., <i>x_i_j</i>)</li>
						<li>Use the underscore (_) to separate variable names from its subindexes, as well as the subindexes themselves
						<li>The right member of the Summation's body may be empty. In this case, it will be considered as an objective function</li>
						<li>The &#8704; is optional. If it exists, it will be used to expand the body of the Summation</li> 
					</ol>
				</small>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<span data-bind="html : errorInNewRule" style="color : red"></span>
				<!-- ko with : newRule -->
					<div data-bind="html : mathML"></div>
					&nbsp;
					<a data-bind="click : function() { $parent.clearProblem() }">Clear problem</a>
				<!-- /ko -->			
			</td>
		</tr>
	</table>
	
	<table>
		<tr>
			<td style="border:1px solid black;">
				<!-- ko with : gh -->
					<!-- ko foreach :  mathMLExpressions -->
						<div>
							<div data-bind="html : $data">
							</div>
							<br>
							<a data-bind="click : function() { $parent.removeExpression($index()) }">Remove rule</a>
						</div>
					<!-- /ko -->
					<a data-bind="visible : !$parent.ghVisible(), click : function() { $parent.showGH(true) }">Show problem code</a>
					<a data-bind="visible : $parent.ghVisible(), click : function() { $parent.showGH(false) }">Hide problem code</a>
					<br>
					<a data-bind="visible : !$parent.ghVisible(), click : giveValues">Give values</a>
				<!-- /ko -->
			</td>
			<td data-bind="visible : ghVisible" style="border:1px solid black;">	
				<div>
					GH:<br>
					<textarea data-bind="textInput : ghText"></textarea>
					<br>
					<button data-bind="click : saveProblem">Save problem</button>
					<br>
					Instance:<br>
					<textarea data-bind="textInput : chInstance"></textarea>
				</div>
			</td>
		</tr>
		<tr>
			<td style="border:1px solid black;" valign="top">
				<!-- ko with : gh -->
					<!-- ko with : ch -->
						<div>
							<b>Parameters</b>
							<!-- ko foreach : parameters -->
								<div>
									<span data-bind="html : name"></span>
									<input type="number" data-bind="value : value" placeholder="value">
								</div>
							<!-- /ko -->
						</div>
						<div>
							<b>Variables</b>
							<!-- ko foreach : variables -->
								<div>
									<span data-bind="html : name"></span>
									<input type="text" data-bind="value : values" placeholder="values">
									&nbsp;
									<span style="border:1px solid black;">
										<input type="number" data-bind="value : minRandom" placeholder="min" size="2">
										<input type="number" data-bind="value : maxRandom" placeholder="max">
										<a data-bind="click : function() { generateRandomValues($parent) }">Random values</a>
									</span>
								</div>
							<!-- /ko -->
						</div>
						<div>
							<a data-bind="click : function() { $parents[$parents.length-1].loadPrefixedX() }"><b>Prefixed x</b></a>
							<!-- ko foreach : prefixedX -->
								<input type="number" data-bind="value : value, attr : { placeholder : coordinates }">
							<!-- /ko -->			
						</div>
						<div>
							<b>Lambdas</b>
							<!-- ko foreach : lambdas -->
								<div>
									<input type="number" data-bind="value : value" placeholder="value">
								</div>
							<!-- /ko -->
						</div>
					<!-- /ko -->
					<a data-bind="click : function() { $parents[$parents.length-1].buildInstance() }">Build instance</a>
					&nbsp;
					<span data-bind="html : $parent.errorInstantiating" style="color : red"></span>
					<br>
					<a data-bind="click : function() { $parents[$parents.length-1].calculate('QASimulator') }">Calculate classic</a>
					&nbsp;
					<a data-bind="click : function() { $parents[$parents.length-1].calculate('SortedConstraints', 'GX') }">Calculate ordered (more X)</a>
					&nbsp;
					<a data-bind="click : function() { $parents[$parents.length-1].calculate('SortedConstraints', 'LX') }">Calculate ordered (less X)</a>
				<!-- /ko -->
			</td>
			<td valign="top">
				<table border="1" id="tableSolutions">
					<tr>
						<th>Host</th>
						<th>Thread</th>
						<th>Combination</th>
						<th>Energy</th>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td style="border:1px solid black;" valign="top">
				<!-- ko with : gh -->
					<!-- ko with : ch -->
						<a data-bind="click : function() { $parents[$parents.length-1].getMatrix() }">Get matrix</a>
						<!-- ko foreach : mathMLExpressions -->
							<div data-bind="html : $data"></div>
						<!-- /ko -->
					<!-- /ko -->
				<!-- /ko -->
			</td>	
			<td style="border:1px solid black;" valign="top">
				<!-- ko with : simplifiedCh -->
					<!-- ko foreach : mathMLExpressions -->
						<div data-bind="html : $data"></div>
					<!-- /ko -->
				<!-- /ko -->
			</td>	
			<td style="border:1px solid black;" valign="top">
				Matrix
			</td>	
		</tr>
	</table>
</div>
<br><br>
