<div hidden id="spinner"></div>

<div class="oj-hybrid-padding">
	<h1>DWave proxy</h1>
	<div data-bind="html : status, style : { color : 'blue' }"></div>
	<div data-bind="html : error, style : { color : 'red' }"></div>
	
	<table border="1">
		<tr>
			<th colspan="4">
				Available solvers<br>
				<small><a data-bind="click : updateSolvers">Update list</a></small>
			</th>
		</tr>
		<tr>
			<th>Id</th>
			<th>Description</th>
			<th>Qubits</th>
			<th>¿Online?</th>
		</tr>
		<!-- ko foreach : solvers -->
			<tr>
				<td>
					<a data-bind="html : id, event : { click : function() { $parent.selectSolver($data) } }"></a>
				</td>
				<td data-bind="html : description"></td>
				<td data-bind="html : qubits" align="right"></td>
				<td>
					<div data-bind="html : online"></div>
					<div data-bind="html : errorMessage" style="color : red"></div>
				</td>
			</tr>
		<!-- /ko -->
	</table>
	
	<div style="border:1px solid black;">
		<b>Problem information:</b>
		<div>
			solver:
				<!-- ko with : selectedSolver --> 
					<code data-bind="html : id"></code>
				<!-- /ko -->
		</div>
		<div>
			label: <input type="text" data-bind="value : label">
		</div>
		<div>
			type: <code data-bind="html : type"></code>
		</div>
		<div>
			data:
			<br>
			<textarea data-bind="value : textMatrix"></textarea>
		</div>
		<div>
			num_reads:
			<br>
			<input type="number" data-bind="value : numReads">
		</div>
		<button data-bind="click : function() { submit('dwave') }, enable: selectedSolver()!=null">Submit to DWave</button>
		&nbsp;
		<button data-bind="click : function() { getPythonCode() }, enable: selectedSolver()!=null">Get Python code</button>
	</div>

	<table border="1">
		<tr>
			<th colspan="3">
				Sent problems<br>
				<small><a data-bind="click : getProblems">Update list</a></small>
			</th>
		</tr>
		<!-- ko foreach : problems -->
			<tr>
				<td colspan="3">
					<a data-bind="html : JSON.stringify($data), event : { click : function() { $parent.getProblemInfo($data) } }"></a>
					<br>
					<div data-bind="html : answer"></div>
				</td>
			</tr>
		<!-- /ko -->
	</table>
</div>

<br>
<br>
