<div class="oj-hybrid-padding">
	<h1>Generic annealer - Hosts configuration</h1>
	<div data-bind="html : error, style : { color : 'red' }"></div>
	
	Existing hosts configurations: <select data-bind="options : hostConfigurations, optionsText: 'name',
			value : selectedHostConfiguration, valueAllowUnset : true"></select>
	<button data-bind="click : loadHosts">Load hosts</button>
	<br>
	
	<!-- ko if : selectedHostConfiguration()!=null -->
		<!-- ko with : cluster -->
			<table border="1">
				<tr>
					<th>Id</th>
					<th>IP & port</th>
					<th>Cores</th>
					<th>Status</th>
				</tr>
				<!-- ko foreach : hosts -->
					<tr>
						<td data-bind="html : id"></td>
						<td>
							<span data-bind="html : ip" ></span>:<span data-bind="html : port"></span>
						</td>
						<td align="right" data-bind="html : numberOfThreads"></td>
						<td>
							<!-- ko if : active()==0 -->
								<button data-bind="click : checkAvailability">Check availability</button>
							<!-- /ko -->
							<!-- ko if : active()==100 -->
								<span style="color : blue">Checking...</span>
							<!-- /ko -->						
							<!-- ko if : active()==1 -->
								<span style="color : green">Available</span>
							<!-- /ko -->	
							<!-- ko if : active()==-1 -->
								<span style="color : red">Not available</span>
							<!-- /ko -->			
						</td>
					</tr>
				<!-- /ko -->			
			</table>
		<!-- /ko -->
		<button data-bind="click : check">Check group availability</button>
		&nbsp;
		<button data-bind="click : select">Select this host configuration</button>
	<!-- /ko -->
</div>
