<div class="oj-hybrid-padding">
	<h1>Generic annealer</h1>
	<div data-bind="html : status, style : { color : 'blue' }"></div>
	<div data-bind="html : error, style : { color : 'red' }"></div>
	
	<a data-bind="click : showOrHideCluster">See or hide cluster</a>
	<!-- ko if : clusterVisible -->
		<!-- ko with : cluster -->
			<table border="1">
				<tr>
					<th>Id</th>
					<th>IP & port</th>
					<th>Cores</th>
					<th>Status</th>
				</tr>
				<!-- ko foreach : hosts -->
					<tr>
						<td data-bind="html : id"></td>
						<td>
							<span data-bind="html : ip" ></span>:<span data-bind="html : port"></span>
						</td>
						<td align="right" data-bind="html : numberOfThreads"></td>
						<td>
							<!-- ko if : active()==100 -->
								<span style="color : blue">Checking...</span>
							<!-- /ko -->						
							<!-- ko if : active()==1 -->
								<span style="color : green">Available</span>
							<!-- /ko -->	
							<!-- ko if : active()==-1 -->
								<span style="color : red">Not available</span>
							<!-- /ko -->			
							<button data-bind="click : checkAvailability">Check</button>
						</td>
					</tr>
				<!-- /ko -->			
			</table>
		<!-- /ko -->
	<!-- /ko -->
	
	<div style="border:1px solid black;">
		Available problems: 
		<select data-bind="options : problemNames, 
			value : selectedProblemName, valueAllowUnset : true"></select>
		&nbsp;
		<button data-bind="click : loadProblem">Load</button>
		<button data-bind="click : createProblem">New</button>
	</div>
	
	<script type="text/html" id="summation-template">
		Summation(
			<!-- ko if : !next() -->
				<a data-bind="click : function() { $parent.addSummation() }">+</a>
			<!-- /ko -->
			<!-- ko with : from -->
	    		FROM: <input data-bind="value : left" type="text" size="2">=<input data-bind="value : right" type="text" size="2">
			<!-- /ko -->
			<!-- ko with : to -->
	    		TO: <input data-bind="value : expr" type="text" size="2">
			<!-- /ko -->

			<!-- ko if : !next() -->
				<!-- ko with : body -->
					OF <input data-bind="value : left" type="text" size="10"> 
					   <select data-bind="value : operator">
							<option value="=">=</option>
							<option value="&gt;=">&gt;=</option>
							<option value="&lt;=">&lt;=</option>
					   </select>
					   <input data-bind="value : right" type="text" size="2">
				<!-- /ko -->
			<!-- /ko -->

			<!-- ko if : next() -->
				<!-- ko with : next -->
					OF <div data-bind="template: { name: 'summation-template' }"></div>
				<!-- /ko -->
			<!-- /ko -->
		), 
		<!-- ko with : forAll -->
			&#8704;<input data-bind="value : variable" type="text" size="2">&#8712;[<input type="text" size="1" data-bind="value : start">,<input type="text" size="1" data-bind="value : end">)
		<!-- /ko -->		
	</script>
	
	
	<!-- ko with : gh -->
		<div>
			<b><u>Problem name:</u></b>&nbsp;<input type="text" data-bind="value : problemName">
		</div>
		<div>
			<b>Parameters:</b>&nbsp;
			<input type="text" data-bind="value : parameters" placeholder="comma-separated names: n,m,K">
		</div>
		<div>
			<b>Variables:</b>&nbsp;
			<input type="text" data-bind="value : $parent.variableNames" placeholder="comma-separated names: c,v,w">
			<a data-bind="click : function() { $parent.setCardinals() }">Set cardinals</a>
			<!-- ko foreach : variables -->
				<div>
					<u data-bind="html : name"></u>: <input type="text" data-bind="value : cardinals" placeholder="comma-separated parameter names: n,m,K">
				</div>
			<!-- /ko -->
		</div>
		<div>
			<b>X cardinals:</b>
			<input type="text" placeholder="comma-separated parameter names: n,m,K" data-bind="value : xCardinals">
		</div>
		<button data-bind="click : function() { $parent.saveProblem() }">Save problem</button>
	<!-- /ko -->

	<!-- ko if : gh() && !newRule() -->
		<a data-bind="click : createRule">New rule</a>&nbsp;
		<a data-bind="click : clearProblem">Clear problem</a>
	<!-- /ko -->

	<!-- ko if : newRule() -->
		<table style="border:1px solid black;">
			<tr>
				<td colspan="3" style="border-bottom:1px solid black;">
					<b>New rule</b>
					<i data-bind="visible : !visibleInstructions()">
						<small><a data-bind="click : function() { showInstructions(true) }, visible : !visibleInstructions()">Show instructions</a></small>
					</i>
					<i data-bind="visible : visibleInstructions()">
						<small><a data-bind="click : function() { showInstructions(false) }">Hide instructions</a></small>
					</i>					
				</td>
			</tr>
			<tr>
				<td style="border-right:1px solid black;" width="30%" valign="top">
					<!-- ko with : newRule -->
						<!-- ko with : summation -->
							<div data-bind="template: { name: 'summation-template' }"></div>
						<!-- /ko -->
						<a data-bind="click : function() { $parent.checkNewRule() }">Check rule</a>
					<!-- /ko -->
				</td>
				<td data-bind="visible : visibleInstructions" width="30%" valign="top">
					<b><i>Example</i></b>
					<br>
					to: <input type="text" size="2" value = "N" disabled="disabled">
					<br>
					&#x2211;<input type="text" size="10" value="v_i_j·x_i_j" disabled="disabled"> = <input type="text" size="2" value="K" disabled="disabled">
					&nbsp;&#8704;<input type="text" value="j" disabled="disabled" size="2">&#8712;[<input type="text" value="0" size="1" disabled="disabled">,<input type="text" value="m" size="1" disabled="disabled">)
					<br>
					from: <input type="text" size="2" value="i" disabled="disabled">=<input type="text" size="2" value="0" disabled="disabled">
				</td>
				<td data-bind="visible : visibleInstructions" valign="top">
					<small>
						<ol>
							<li>The left-side of the Summation's <i>from</i> clause must be a variable</li>
							<li>The right-side of the Summation's <i>from</i> clause must be a number</li>
							<li>The left-side of the Summation's body must be either a product (use · as multiplication symbol) or the use of <i>x</i> (i.e., <i>x_i_j</i>)</li>
							<li>Use the underscore (_) to separate variable names from its subindexes, as well as the subindexes themselves
							<li>The right member of the Summation's body may be empty. In this case, it will be considered as an objective function</li>
							<li>The &#8704; is optional. If it exists, it will be used to expand the body of the Summation</li> 
						</ol>
					</small>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<span data-bind="html : errorInNewRule" style="color : red"></span>
					<!-- ko with : newRule -->
						<div data-bind="html : mathML"></div>
						&nbsp;
					<!-- /ko -->			
				</td>
			</tr>
		</table>
	<!-- /ko -->
	
	<!-- ko if: gh() && gh().mathMLExpressions().length>0 -->
		<table>
			<tr>
				<td style="border:1px solid black;">
					<!-- ko with : gh -->
						<!-- ko foreach :  mathMLExpressions -->
							<span>
								<div data-bind="html : $data">
								</div>
								<a data-bind="click : function() { $parent.removeExpression($index()) }">Remove rule</a>
								&nbsp;
								<a data-bind="click : function() { $parent.toEquality($index()) }">To equality</a>
							</span>
						<!-- /ko -->
						<a data-bind="visible : !$parent.ghVisible(), click : function() { $parent.showGH(true) }">Show problem code</a>
						<a data-bind="visible : $parent.ghVisible(), click : function() { $parent.showGH(false) }">Hide problem code</a>
						<a data-bind="visible : !$parent.isGHInIsing(), click : function() { $parent.parseGHToIsing() }">Convert to Ising</a>
						<a data-bind="visible : $parent.isGHInIsing(), click : function() { $parent.parseGHToQUBO() }">Convert to QUBO</a>
						<a data-bind="visible : !$parent.ghVisible(), click : function() { $parents[$parents.length-1].showGiveValues() }">Give values</a>
					<!-- /ko -->
				</td>
				<td data-bind="visible : ghVisible" style="border:1px solid black;">	
					<div>
						GH:<br>
						<textarea data-bind="textInput : ghText"></textarea>
						<br>
						Instance:<br>
						<textarea data-bind="textInput : chInstance"></textarea>
					</div>
				</td>
			</tr>
		</table>
	<!-- /ko -->
	
	<!-- ko if: showGetValuesVisible() -->
		<table>
			<tr>
				<td style="border:1px solid black;" valign="top">
					<!-- ko with : gh -->
						<!-- ko with : ch -->
							<div>
								<b>Parameters</b>
								<!-- ko foreach : parameters -->
									<div>
										<span data-bind="html : name"></span>
										<input type="number" data-bind="value : value" placeholder="value">
									</div>
								<!-- /ko -->
							</div>
							<div>
								<b>Variables</b>
								<!-- ko foreach : variables -->
									<div>
										<span data-bind="html : name"></span>
										<input type="text" data-bind="value : values" placeholder="values">
										&nbsp;
										<span style="border:1px solid black;">
											<input type="number" data-bind="value : minRandom" placeholder="min" size="2">
											<input type="number" data-bind="value : maxRandom" placeholder="max">
											<a data-bind="click : function() { generateRandomValues($parent) }">Random values</a>
										</span>
									</div>
								<!-- /ko -->
							</div>
							<div>
								<a data-bind="click : function() { $parents[$parents.length-1].loadPrefixedX() }"><b>Prefixed x</b></a>
								<!-- ko foreach : prefixedX -->
									<input type="number" data-bind="value : value, attr : { placeholder : coordinates }">
								<!-- /ko -->			
							</div>
							<div>
								<b>Lambdas</b>
								<!-- ko foreach : lambdas -->
									<div>
										<input type="number" data-bind="value : value" placeholder="value">
									</div>
								<!-- /ko -->
							</div>
						<!-- /ko -->
						<a data-bind="click : function() { $parents[$parents.length-1].buildInstance() }">Build instance</a>
						&nbsp;
						<!-- ko if : $parent.numberOfCombinations() -->
							<span style="color : blue">
								<span data-bind="html : $parent.numberOfCombinations"></span>&nbsp; combinations
							</span>
						<!-- /ko -->
						<br>
						<small>
							Chunk size:
							<input type="number" min="100" step="100" data-bind="value : $parent.chunk">
						</small>
						
						<span data-bind="html : $parent.errorInstantiating" style="color : red"></span>
						<br>
						<a data-bind="click : function() { $parents[$parents.length-1].calculate('QASimulator') }">Calculate classic</a>
						&nbsp;
						<a data-bind="click : function() { $parents[$parents.length-1].getPythonCode('dwave') }">DWave Python code</a>
						&nbsp;
						<a data-bind="click : function() { $parents[$parents.length-1].calculate('SortedConstraints', 'GX') }">Calculate ordered (more X)</a>
						&nbsp;
						<a data-bind="click : function() { $parents[$parents.length-1].calculate('SortedConstraints', 'LX') }">Calculate ordered (less X)</a>
					<!-- /ko -->
					
					<!-- ko with : cluster -->
						<!-- ko if : bests().length>0 -->
							<table border="1">
								<tr>
									<th colspan="2">
										Best solutions
										<br>
										<small>(Total time: <span data-bind="html : totalTime"></span> seconds)</small>
									</th>
								</tr>
								<tr>
									<th>Combination</th>
									<th>Energy</th>
								</tr>
								<!-- ko foreach : bests -->
									<tr>
										<td>
											<span data-bind="html : combination"></span>
											<!-- ko if : detachable() -->
												<div>
													<small>
														<b>Positions:</b>
														<!-- ko foreach : positions -->
															<span data-bind="html : $data"></span>
															<!-- ko if : $index()<$parent.positions().length-1 -->
															,
															<!-- /ko -->
														<!-- /ko -->
													</small>
												</div>
											<!-- /ko -->
										</td>
										<td align="right">
											<!-- ko if : detachable() -->
												<a data-bind="click : function() { $parents[$parents.length-1].detach($data) }"> 
													<span data-bind="html : energy"></span>
												</a>
											<!-- /ko -->
											<!-- ko ifnot : detachable() -->
												<span data-bind="html : energy"></span>
											<!-- /ko -->
										</td>								
									</tr>
									<!-- ko if : detachs().length>0 -->
										<tr>
											<td colspan="4">
												<!-- ko foreach : detachs -->
													<div>
														<span data-bind="html : $index"></span>
														&nbsp;=&nbsp;
														<span data-bind="html : $data"></span>
													</div>
												<!-- /ko -->
											</td>
										</tr>
									<!-- /ko -->										
								<!-- /ko -->
							</table>
						<!-- /ko -->
					<!-- /ko -->
				</td>
				<td valign="top" data-bind="visible : visibleCalculating">
					<!-- ko with : cluster -->
						<strong>Progress:</strong>
						<progress max="100" data-bind="value : percentage"></progress>&nbsp;<span data-bind="html : percentage"></span>%
						<br>
						Remaining time (aprox.): <span data-bind="html : remainingTime"></span> seconds.
						<!-- ko foreach : hosts -->
							<!-- ko if : active() -->
								<table border="1" id="tableSolutions">
									<tr>
										<th colspan="2">
											<em data-bind="html : id"></em> at 
											<span data-bind="html : $data.url"></span>
											<br>
											<small><span data-bind="html : numberOfThreads"></span> cores</small>
											;
											<small>Chunk: <span data-bind="html : chunk"></span></small>
											<br>
											<!-- ko if : !time() -->
												<small><span data-bind="html : totalCombinations"></span>&nbsp; combinations sent</small>
											<!-- /ko -->
											<!-- ko if : time() -->
												<small>
													(<span data-bind="html : totalCombinations"></span> combinations in <span data-bind="html : time"></span>)
												</small>
											<!-- /ko -->
											<br>
											<!-- ko if : finished() -->
												<mark>
													<span data-bind="html : speed"></span>&nbsp;combinations/second
												</mark>
											<!-- /ko -->
											<!-- ko if : !finished() -->
												<span data-bind="html : speed"></span>&nbsp;combinations/second
											<!-- /ko -->
										</th>
									</tr>
									<tr>
										<th>Combination</th>
										<th>Energy</th>
									</tr>
									<!-- ko foreach : bestCombinations -->
										<tr>
											<td>
												<span data-bind="html : combination"></span>
												<!-- ko if : detachable() -->
													<div>
														<small>
															<b>Positions:</b>
															<!-- ko foreach : positions -->
																<span data-bind="html : $data"></span>
																<!-- ko if : $index()<$parent.positions().length-1 -->
																,
																<!-- /ko -->
															<!-- /ko -->
														</small>
													</div>
												<!-- /ko -->
											</td>
											<td align="right">
												<!-- ko if : detachable() -->
													<a data-bind="click : detach"> 
														<span data-bind="html : energy"></span>
													</a>
												<!-- /ko -->
												<!-- ko ifnot : detachable() -->
													<span data-bind="html : energy"></span>
												<!-- /ko -->
											</td>
										</tr>
										<!-- ko if : detachs().length>0 -->
											<tr>
												<td colspan="2">
													<!-- ko foreach : detachs -->
														<div>
															<span data-bind="html : $index"></span>
															&nbsp;=&nbsp;
															<span data-bind="html : $data"></span>
														</div>
													<!-- /ko -->
												</td>
											</tr>
										<!-- /ko -->											
									<!-- /ko -->
									<!-- ko with : randomCombination -->
										<tr>
											<td>
												<span data-bind="html : combination"></span>
											</td>
											<td align="right">
												<span data-bind="html : energy"></span>
											</td>
										</tr>
									<!-- /ko -->
								</table>
							<!-- /ko -->
						<!-- /ko -->
					<!-- /ko -->
				</td>
			</tr>
		</table>
		
		<table data-bind="visible : pythonCode()">
			<tr>
				<th colspan="2">DWave area</th>
			</tr>
			<tr>
				<td style="border:1px solid black;" valign="top">
					<div>
						<a data-bind="click : showOrHidePythonCode">Show or hide Python code</a>
					</div>
					<div>
						CLASSPATH: <input type="text" size="60" data-bind="value : classPath">
					</div>
					<div>
						<select data-bind="options : solvers, 
							optionsText : 'name', valueAllowUnset : true, value : selectedSolver,
							event : { change : setSolver }"></select>
					</div>
					<div data-bind="visible : pythonVisible">
						<button data-bind="click : runOnThirdPlatform">Run</button>
					</div>
					<div data-bind="visible : pythonVisible">
						<!-- ko foreach : pythonCode -->
							<pre data-bind="html : $data"></pre>
						<!-- /ko -->
					</div>
				</td>
				<td style="border:1px solid black;" valign="top">
					<!-- ko foreach : pythonErrors -->
						<pre data-bind="html : $data" style="color : red"></pre>
					<!-- /ko -->
					<!-- ko foreach : pythonResults -->
						<pre data-bind="html : $data"></pre>
					<!-- /ko -->
				</td>
			</tr>
		</table>
		
		<table>
			<tr>
				<td style="border:1px solid black;" valign="top">
					<!-- ko with : gh -->
						<!-- ko with : ch -->
							<a data-bind="click : function() { $parents[$parents.length-1].getMatrix() }">Get matrix</a>
							<br>
							<a data-bind="visible : $parents[$parents.length-1].isInstanceBuilt() && !$parents[$parents.length-1].isCHInIsing(),
								click : function() { $parents[$parents.length-1].parseCHToIsing() }">Convert to Ising</a>
							<a data-bind="visible : $parents[$parents.length-1].isInstanceBuilt() && $parents[$parents.length-1].isCHInIsing(),
								click : function() { $parents[$parents.length-1].parseCHToQUBO() }">Convert to QUBO</a>							
							
							<!-- ko foreach : mathMLExpressions -->
								<div data-bind="html : $data"></div>
							<!-- /ko -->
						<!-- /ko -->
					<!-- /ko -->
				</td>	
				<td style="border:1px solid black;" valign="top" data-bind="visible : (jsonMatrix()!=null || mathMLMatrix!=null)">
					<a data-bind="visible : jsonMatrix(), click : function() { goTo('dwave') }">DWave</a>					
					<div data-bind="html : mathMLMatrix"></div>
					<div>
						<code data-bind="html : jsonMatrix"></code>
					</div>
					<div>
						<code data-bind="html : textMatrix"></code>
					</div>
				</td>	
			</tr>
		</table>
	<!-- /ko -->
</div>
<br><br>
