<!DOCTYPE html>
<html>
  <head>
    <title>Oracle JET Starter Template - Hybrid Nav Bar</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Security-Policy" 
    	content="default-src *; 
    			script-src 'self' *.oracle.com * 'unsafe-inline' 'unsafe-eval' localhost:* 127.0.0.1:*; 
    			style-src 'self' *.oracle.com www.wiris.net github.com *.jsdelivr.net 'unsafe-inline'; 
    			img-src * data:"/>
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" href="css/images/favicon.ico" type="image/x-icon"/>

	<link rel="stylesheet" href="css/spinner-loader.css" type="text/css" />

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>


    <!-- This is the main css file for the default Alta theme -->
<!-- injector:theme -->
<link rel="stylesheet" href="css/redwood/9.1.0/web/redwood.css" id="css"/>
<!-- endinjector -->
    <!-- This contains icon fonts used by the starter template -->
    <link rel="stylesheet" href="css/demo-alta-site-min.css" type="text/css"/>
    <link rel="stylesheet" id="uxiconFont" href="https://static.oracle.com/cdn/fnd/gallery/2010.0.0/images/iconfont/ojuxIconFont.min.css"/>

    <!-- This is where you would add any app specific styling -->
    <link rel="stylesheet" href="css/app.css" type="text/css"/>

  </head>
  <body>
    <!-- template for rendering navigation bar items -->
    <script type="text/html" id="navTemplate">
      <li><a href="#">
        <span :class="[[$data.detail.iconClass]]"></span>
        <oj-bind-text value="[[$data.detail.label]]"></oj-bind-text>
      </a></li>
    </script>
    <div id="globalBody">

      <div id="announce" tabindex="-1" class="sendOffScreen" :aria-live="[[manner]]" aria-atomic="true">
        <p id="ariaLiveMessage"><oj-bind-text value="[[message]]"></oj-bind-text></p>
      </div>

      <oj-module config="[[moduleAdapter.koObservableConfig]]" animation="[[moduleAdapter.animation]]"></oj-module>
     <div class="oj-applayout-fixed-bottom">
        <div role="navigation" class="oj-hybrid-applayout-navbar-app">
          <oj-navigation-list id="navList" class="oj-navigationlist-stack-icon-label" data="[[navDataProvider]]" edge="top" item.renderer="[[KnockoutTemplateUtils.getRenderer('navTemplate', true)]]" selection="{{selection.path}}">
          </oj-navigation-list>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="js/libs/require/require.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/model/NewRule.js"></script>
	<script type="text/javascript" src="js/model/BigGH.js"></script>
	<script type="text/javascript" src="js/model/BigCH.js"></script>
	<script type="text/javascript" src="js/model/DWaveSolver.js"></script>	
	<script type="text/javascript" src="js/model/RemoteHost.js"></script>	
  </body>

</html>