#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 4px solid #f3f3f3;
  border-top: 3px solid #008afc;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
